services:
  backend:
    build: ./server
    container_name: ssp-backend
    ports:
      - "5000:5000"
    env_file:
      - ./server/.env.docker
    depends_on:
      - db

  db:
    image: postgres:17
    container_name: ssp-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: smart_student_planner
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
